*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --primary-dark: #00C889;
    --primary-regular: #0DF3A0;
    --primary-light: #37FFBF;
    --secondary-dark: #7400C8;
    --secondary-regular: #8D0BF2;
    --secondary-light: #AA37FF;
    --gray-dark: #161616;
    --gray-regular: #49454C;
    --gray-light: #868389;
    --white-dark: #E0E0E0;
    --white-regular: #EFEFEF;
    --white-light: #F9F9F9;
    font-size: 62.5%;
    font-family: 'Saira Condensed', sans-serif;
}

header nav ul{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav ul li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    width: 130px;
}

#hero{
    height: 100vh;
    margin: 0 auto;
}

#main{
    display: flex;
    margin: 240px 70px;
}

#left{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

#left h2, h1{
    font-size: 9.6rem;
    font-weight: 400;
}

#left h1{
    color: var(--primary-regular);
}

#left h3{
    font-size: 4.8rem;
}

#right{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

#second{
    height: 100vh;
}